* {
    margin: 0px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(#000212, #08001b);
    background-color: #000212;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

p#output {
    height: 50px;
    width: calc(100% - 20px);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    color: #ffffff;
}